name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a simple command
        run: echo "CI Running"

      - name: Run a small script
        run: |
          echo "Generating report..."
          date > report.txt
      - name: Upload CI Report
        uses: actions/upload-artifact@v4
        with:
          name: ci-documentation
          path: report.txt
